<table id="datatable" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <th>Titulo</th>
            <th>Es principal</th>
            <th>En carrusel</th>
            <th>Usuario</th>
            <th>Estatus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="cuerpoTabla">
        {% for entity in entities %}
            {% include 'PublicacionesBundle:Publicacion:item.html.twig' with {'entity': entity } %}
        {% endfor %}
    </tbody>
</table>