{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}
  <section class="padding columna-2">
        <article class="list-noticias categoria">
            <header>
                <h2 class="titulo azul">
                    <span>{{categoria.categoria}}</span>
                </h2>
            </header>
            <section class="noticias">
                {% for noticia in categoria.publicaciones %}
                    {% include 'FrontendBundle:Default:item_largo.html.twig' with {'noticia': noticia} %}
                {% endfor %}
            </section>
        </article>
        <div class="pgn">
            <a href="#">
                <span class="prv ico_paginador_izq"></span>
            </a>
            <div class="pgs">
                <a href="#" class="page">1</a>
                <span class="cur">2</span>
                <a href="#" class="page">3</a>
                <a href="#" class="page">4</a>
                <a href="#" class="page">5</a>
                <a href="#" class="page">6</a>
                <a href="#" class="page">7</a>
                <a href="#" class="page">8</a>
                <a href="#" class="page">9</a>
                <a href="#" class="page">10</a>
            </div>
            <a href="#">
                <span class="nxt ico_paginador_der"></span>
            </a>
        </div>
    </section>	
    {% include 'FrontendBundle:Default:aside.html.twig' %}
    <p class="padding">
        <button class="ver-archivos">Archivos</button>    
    </p>
{% endblock %}