<article class="item-noticia item-noticia-lg">
    <a href="{{path('frontend_publicaciones',{'slug': noticia.slug})}}">
        <figure class="thumbnail-mediana">
            <img src="{{ noticia.galerias[0].webPath | imagine_filter('imagen_246_76') }}" alt="{{noticia.galerias[0].titulo}}"/>
        </figure>
        <h3 class="titulo">
            {{noticia.titulo}}
        </h3>
    </a>
</article>

