{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}

    <section class="padding columna-2">
        <article class="publicacion">
            <header>
                <h2 class="titulo">
                    {{publicacion}}
                </h2>
            </header>
            <div class="contenido">
                <div class="contenedor-galeria">
                    <ul class="galeria">
                        <li class="item">
                            <img src="http://placehold.it/616x411" alt="" class="imagen"/>
                        </li>
                        <li class="item">
                            <img src="http://placehold.it/616x411" alt="" class="imagen"/>
                        </li>
                        <li class="item">
                            <img src="http://placehold.it/616x411" alt="" class="imagen"/>
                        </li>
                    </ul>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, eligendi, magni quae omnis sed debitis illum commodi dignissimos necessitatibus possimus sapiente exercitationem nam in incidunt sint quia placeat error dolores?</p>
                <p class="cargador">
                    <button class="ver-nota">Ver nota</button>
                </p>
            </div>
        </article>
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
    </section>	
    {% include 'FrontendBundle:Default:aside.html.twig' %}
    

{% endblock %}