<!-- Widget content -->
<div class="widget">
    <div class="widget-content">
        <div class="padd">
            <div data-toggle="buttons" class="btn-group">
                <a href="#" class="btn btn-default">
                    Es principal
                </a>
                <a href="#" class="btn btn-default">
                    En carrusel
                </a>
                <a href="#" class="btn btn-default">
                    Los mas comentados
                </a>
                <a href="#" class="btn btn-default">
                    Los mas vistos
                </a>
                <a href="#" class="btn btn-default">
                    Por publicar
                </a>
                <a href="#" class="btn btn-default">
                    Publicados
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Widget ends -->
